<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_skf_root" name="收付款"/>
        <menuitem id="menu_new_account_root" name="出纳" sequence="99"/>
        <menuitem id="menu_rcskd_latest" name="日常收款单" parent="menu_new_account_root" sequence="1"/>
        <menuitem id="menu_rcskd_chaxun_cashier" name="查询" parent="menu_rcskd_latest" action="yjzy_extend.action_rcskd_all_1103" sequence="1"/>
        <menuitem id="menu_rcskd_create_cashier" name="创建收款" parent="menu_rcskd_latest" action="yjzy_extend.action_create_rcskd_1103" sequence="2"/>
        <menuitem id="menu_pay_out_cashier" name="付款" parent="menu_new_account_root" sequence="2"/>
        <menuitem id="menu_fkzl_cashier" name="查询付款指令" parent="menu_pay_out_cashier" action="yjzy_extend.action_fkzl" sequence="1"/>
        <menuitem id="menu_transfer_accounts_cashier" name="转账" parent="menu_new_account_root"  sequence="3"/>
        <menuitem id="menu_nbzz_cashier_root" name="内部转账" parent="menu_transfer_accounts_cashier"  sequence="1"/>
        <menuitem id="menu_fkzl_create_cashier" name="创建" parent="menu_nbzz_cashier_root" action="yjzy_extend.action_nbzz_new_create" sequence="1"/>
        <menuitem id="menu_fkzl_chaxun_cashier" name="查询" parent="menu_nbzz_cashier_root" action="yjzy_extend.action_nbzz_new_all" sequence="2"/>
        <menuitem id="menu_jiehui_cashier_root" name="结汇" parent="menu_transfer_accounts_cashier"  sequence="2"/>
        <menuitem id="menu_jiehui_create_cashier" name="创建" parent="menu_jiehui_cashier_root" action="yjzy_extend.action_jiehui_create" sequence="1"/>
        <menuitem id="menu_jiehui_chaxun_cashier" name="查询" parent="menu_jiehui_cashier_root" action="yjzy_extend.action_jiehui_all" sequence="2"/>


        <menuitem id="menu_Reconciliation_cashier" name="对账" parent="menu_new_account_root" sequence="4"/>
        <menuitem id="menu_bank_reconciliation_cashier" name="账户对账单" parent="menu_Reconciliation_cashier" action="bank_reconciliation_action" sequence="1"/>
        <menuitem id="menu_rcskd_fkzl_cashier" name="收付流水" parent="menu_Reconciliation_cashier" action="action_rcskd_fkzl" sequence="2"/>
        <menuitem id="menu_move_line_bank_cashier" name="收付流水" parent="menu_Reconciliation_cashier" action="action_move_line_bank" sequence="3"/>

        <menuitem id="menu_new_account_out_root" name="财务-付款" sequence="99"/>
        <menuitem id="menu_new_account_in_root" name="财务-收款" sequence="99"/>

        <menuitem id="menu_new_account_dashboard" name="仪表板" parent="menu_new_account_root" sequence="5" action="account.open_account_journal_dashboard_kanban"/>
        <record id="view_account_payment_search_new" model="ir.ui.view">
            <field name="name">account.payment.search</field>
            <field name="model">account.payment</field>
            <field name="arch" type="xml">
                <search string="Payments">
                    <field name="name" filter_domain="['|','|', '|', ('name','ilike',self),('journal_id','ilike',self), ('communication','ilike',self),('amount','ilike',self)]" string="Description"/>
                    <separator/>
                    <field name="partner_id" />
                    <field name="journal_id" />
                    <field name="company_id" groups="base.group_multi_company" />
                    <filter string="Payable" domain="[('payment_type','=','outbound')]"/>
                    <filter string="Receivable" domain="[('payment_type','=','inbound')]"/>
                    <filter string="Transfers" domain="[('payment_type','=','transfer')]"/>
                    <separator/>
                    <filter string="Draft" domain="[('state','=','draft')]" name='state_draft'/>
                    <filter string="Posted" domain="[('state','=','posted')]" name='state_posted'/>
                    <filter string="Sent" domain="[('state','=','sent')]" name='state_sent'/>
                    <filter string="Reconciled" domain="[('state','=','reconciled')]"/>
                    <separator/>
                    <filter string="Partner" domain="[]" context="{'group_by': 'partner_id'}"/>
                    <filter string="Journal" domain="[]" context="{'group_by': 'journal_id'}"/>
                    <filter string="Payment Method" domain="[]" context="{'group_by': 'payment_method_id'}"/>
                    <filter string="State" domain="[]" context="{'group_by': 'state'}"/>
                    <filter string="Currency" domain="[]" context="{'group_by': 'currency_id'}" groups="base.group_multi_currency"/>
                    <filter string="Company" domain="[]" context="{'group_by': 'company_id'}" groups="base.group_multi_company"/>
                    <separator/>
                    <group expand="1" string="Group By">
                        <filter string="状态分组" name="group_by_state" domain="[]" context="{'group_by':'state'}"/>
                        <filter string="核销分组" name="group_by_state_1_attribute" domain="[]" context="{'group_by':('invoice_attribute_all_in_one','state_1')}"/>
                        <filter string="状态1分组" name="group_by_state_1" domain="[]" context="{'group_by':'state_1'}"/>
                        <filter string="类型分组" name="group_by_sfk_type" domain="[]" context="{'group_by':'sfk_type'}"/>
                        <filter string="客户分组" name="group_by_partner_id" domain="[]" context="{'group_by':'partner_id'}"/>
                        <filter string="账单核销类型分组" name="group_by_invoice_attribute_all_in_one" domain="[]"
                                context="{'group_by':'invoice_attribute_all_in_one'}"/>
                        <filter string="预收付类型分组" name="group_by_advance_type" domain="[]" context="{'group_by':'advance_type'}"/>
                        <filter string="付款对象分组" name="group_by_pay_to" domain="[]" context="{'group_by':'pay_to'}"/>
                        <filter string="付款指令状态分组" name="group_by_state_fkzl" domain="[]" context="{'group_by':'state_fkzl'}"/>
                        <filter string="按采购合同分组" name="group_by_po_id" domain="[]" context="{'group_by':'po_id'}"/>
                    </group>
                </search>
            </field>
        </record>

    </data>
</odoo>